@charset "UTF-8"
* {
    font-family: Arial, Helvetica, sans-serif;
   
}

body {
background-image: linear-gradient(to right, #BA8BD9, #DAB6F2);
}

main {
background-color: white;
border-radius: 20px;
box-shadow: 5px 5px 15px hsl(265, 27%, 49%);
width: 600px;
padding: 10px;
margin: auto;
}

h1{
    color: #4d4294;
    text-align: center;
    text-shadow: 1px 1px 2px #352d68;

}

h2{
    color:#7553A6;
}
p {
    text-align: justify;
}