@charset "UTF-8"

body {
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
color: darkslateblue;
background-color:pink;
}
h2{
color: blueviolet;
}
p {
text-align: justify;
}